@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Varela', sans-serif;
    color: white;
    font-size: 1.82vw;
    background-image: url('/assets/images/bck.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    font-family: 'Cairo', sans-serif;
    color: white;
    margin-top: 20px;
}

h1 {
    font-size: 4.2vw;
}

h2 {
    font-size: 2.6vw;
}

.vertical-nav {
    z-index:2000;
    min-width: 19rem;
    width: 19rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.vertical-nav-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}

.page-content {
    width: calc(100% - 19rem);
    margin-left: 19rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -19em;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -19em;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 19em;
        width: calc(100% - 9em);
    }
}

.bg-nav {
    background-color: #264653 !important;
}

.bg-page {
    background-image: url('/assets/images/bck.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background-image: url('/assets/images/bck.jpg');
}
   
/* Scrobll bar background */
::-webkit-scrollbar-thumb {
    background: #264653; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1e3742; 
}

.active {
    background-color: rgba(0,0,0,0.2);
}

.btn {
    border-width: 0;
    z-index:2000
}

.container-padding {
    padding-bottom: 70px;
    padding-top: 90px;
    height: 100%;
}

img {
    margin-left: 15px;
    align-content: center;
}

a {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    color: #4b8aa4;
} 

a:hover, a:focus, a:active {
    text-decoration: none;
    color: #4b8aa4;
}

.contact-style {
    text-align: center; 
    font-size: 1.3vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideanim {
    visibility:hidden;
    visibility:visible\9; /*For old IE browsers IE6-8 */
}

.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 0.8s;
}

.slideanim::after {
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(50%);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    } 
}
